[submodule "wxwidgets"]
	path = wxwidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "matplotplusplus"]
	path = matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
[submodule "wxmathplot"]
	path = wxmathplot
	url = https://github.com/gagiuntoli/wxMathPlot
[submodule "portaudio"]
	path = portaudio
	url = https://github.com/PortAudio/portaudio
